/* Layout Styles */
.block-main-layout {
  width: 100%;

  .main-content-body {
    transition: margin-left 0.3s;
    padding: 20px;
  }
}

.layout {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.main-content-body.sidebar-open {
  margin-left: 292px;
}
